<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132684119931-66fu5m0n3koal506nr63uhlmf9qrmeg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132684119931-66fu5m0n3koal506nr63uhlmf9qrmeg4</string>
	<key>API_KEY</key>
	<string>AIzaSyDF8zqjWOddt6b-2XKhPpA7sl3Cbj5QWMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>132684119931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socs.warwicksocietyapp</string>
	<key>PROJECT_ID</key>
	<string>warwick-society-app</string>
	<key>STORAGE_BUCKET</key>
	<string>warwick-society-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132684119931:ios:72b5ba456abd1ebaed87de</string>
</dict>
</plist>